html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    transition: 1s all ease;
    background-color: #313131;
}

.filler {
    height: 1px;
    width: auto;
}

#wrapper {
    height: 100%;
    width: 100%;
}

* {
    transition: 1s all ease;
}

.fullpage {
    height: auto;
    min-height: 100%;
    width: auto;
    position: inherit;
    /*
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);*/
}

#color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2b3155;
    opacity: .4;
}

#landingpage {
    border-bottom: 1px solid grey;
    position: relative;
    background-image: url("Pictures/wallpaper.jpg");
    font-family: Raleway;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#links {
    margin-top: 100px;
}

.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
}

#pdf {
    stroke-width: 5px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    stroke: #313131;
}

#pdfresume {
    margin-top: 20px;
}

.text {
    margin-top: -30px;
    text-align: center;
}

.buttontext {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
}

.buttontext:visited {
    color: white;
}

.buttontext:link {
    color: white;
}

.svg-wrapper:hover .shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}

#pdfresume:hover #pdf {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}

#nametitle {
    text-align: center;
    margin-top: 30vh;
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
}

#nametitle h1 {
    font-size: 3.7em;
    font-weight: 300;
}

#nametitle h2 {
    margin-top: 25px;
    font-size: 1.3em;
    font-weight: 100;
}

#name {
    font-weight: 600;
}

#about {
    position: relative;
    background-color: white;
    z-index: 10;
    min-height: 85%;
    text-align: center;
    transition: .3s all ease;
}

#aboutgroup {
    margin-top: 18vh;
    margin-left: 8vw;
    float: left;
    margin-right: 5vw;
}

#profilepic {
    height: 325px;
    width: 325px;
    border-radius: 50%;
    border: 1px solid black;
    transition: .4s all ease;
}

#profilepic:hover {
    border: 1px solid #06D6A0;
}

#iconholder {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    transition: .4s all ease;
}

#iconholder a {
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid #313131;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    transition: .4s all ease;
    height: 50px;
    width: 50px;
}

#passion {
    font-size: 1.85em;
    font-weight: 600;
}

#about_text {
    margin-top: 15vh;
    margin-right: 5vw;
    font-family: 'Merriweather';
    color: #313131;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.4em;
    padding-bottom: 47px;
}

a:link {
    text-decoration: none;
    color: #313131;
    transition: .4s all ease;
}

a:visited {
    text-decoration: none;
    color: #313131;
    transition: .4s all ease;
}

.fa-linkedin:hover {
    color: #06D6A0;
    transition: .4s all ease;
}

.fa-twitter:hover {
    color: #06D6A0;
    transition: .4s all ease;
}

.fa-github-alt:hover {
    color: #06D6A0;
    transition: .4s all ease;
}

#work {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
    min-height: 90%;
    background-color: #272727;
    background-image: url("Pictures/wallpaper1.jpg");
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #272727;
    opacity: .4;
}

#parent {
    margin-top: 4.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1500px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.child {
    height: 320px;
    border: 1px solid white;
    flex: 1;
    margin: 1%;
    max-width: 410px;
    min-width: 410px;
    width: 30%;
    margin-top: 10px;
    background-color: black;
    transition: .5s all ease;
}

.child:hover {
    border: 1px solid black;
}

#resume {
    min-height: 9%;
    position: relative;
    z-index: 10;
    background-color: #1a1a1a;
    text-align: center;
    font-family: Raleway;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    max-height: 360px;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-sarah {
    background: black;
}

figure.effect-sarah img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-sarah:hover img {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah figcaption {
    text-align: left;
}

figure.effect-sarah h2 {
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
    margin-left: -15px;
    background-color: rgba(01, 01, 01, .5);
    margin-right: 60px;
    transition: .5s all ease;
    padding-left: 10px;
}

figure.effect-sarah h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect-sarah:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah p {
    font-family: Raleway;
    font-size: .8em;
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    margin-left: -10px;
    margin-right: 55px;
}

figure.effect-sarah:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah:hover figcaption h2 {
    background-color: rgba(01, 01, 01, .00);
}

.description {
    margin-top: -18px;
    line-height: 1.35em;
}

figure.effect-sarah .date {
    font-size: .7em;
}

.city {
    margin-right: 7px;
    text-align: right;
    float: right;
}

#resume a {
    text-align: center;
    color: #06D6A0;
    margin-top: 5px;
    font-weight: bold;
}

#contact {
    position: relative;
    z-index: 10;
    min-height: 65%;
    background-color: #FFFFFF;
}

.typeform-widget {
    width: 100%;
    height: 65vh;
    background-color: #FFFFFF;
}

#footer {
    min-height: 70px;
    height: 70px;
    position: relative;
    z-index: 10;
    background-color: #1a1a1a;
    font-family: 'Merriweather';
    display: flexbox;
    bottom: 0;
}

#footer p {
    font-size: .65em;
    color: #8a8a8a;
    margin-left: 1%;
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {
    #profilepic {
        height: 280px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #aboutgroup {
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 10vh;
    }
    #about_text {
        margin-top: 3vh;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 40px;
    }
    #about_text p {
        text-align: left;
    }
}

@media screen and (max-width: 850px) {
    #particles-js {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #links {
        margin-top: -500px;
    }
    .child {
        margin-left: 1px;
        margin-right: 1px;
    }
    #parent {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .child {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #parent {
        width: 97%;
    }
}
