/*  Color variables for the site */
$offwhite: #F2F2F2;
$white: #FFFFFF;
$darktext: #383838;

$pink: #FF5A5F;


/*  General page CSS */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.6;
    font-family: Raleway;
    transform-style: preserve-3d;
    overflow-x: hidden;
}

* {
    transition: 0.85s all ease;
}

#sitewrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

section {
    height: auto;
    min-height: 100vh;
    display: flex;
    background-color: $white;
}


a, a:visited, a:hover {
    color:$pink;
    text-decoration: none;
}

::selection {
    color: $white; 
    background: $pink;
}

/*  Landing page */
#landing {

    .halfsection {
        height: auto;
        min-height: 100vh;
        width: 50%;
    }

    #left {
        color: $darktext;
        display: flex;
        width:60%;

        #landingtext {
            padding:50px;
            padding-bottom: 0;
        }

        h4 {
            margin-top:25vh;
            font-size: 1.5em;
        }
        
        h1 {
            margin-top: -30px;
            font-size: 4em;
            font-weight: 700;
            color:$pink;
        }

        p {
            font-size:1.15em;
        }
    }

    #right {
        padding:40px;
        padding-bottom: 0;
        width:40%;
    }

    #landingphoto {
        height:91%;
        width: 100%;
        background-image: url('../images/Summit-min.jpg');
        background-size: cover;
        background-position: center center;
    }
}

/*  SVG Buttons */

#buttons {
    display: flex;
    justify-content: center;
    width:100%;
    margin-top:10vh;
    margin-bottom:5vh;
}
.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 170px;
    height: 50px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 90 400;
    stroke-dashoffset: -259;
    transition: 1s all ease;
}

#text {
    margin-top: -45px;
    text-align: center;
}

#text a {
    color:$darktext;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50; 
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke: $pink;
}

.svg-wrapper:hover #text a {
    color:$pink;
}

/* About page */
#about {
    min-height: 50vh;
    background-color: $offwhite;
    font-size:1.15em;
    display: flex;
    flex-direction: column;
    padding-left:15vw;
    justify-content: center;
    line-height:1.75;
    font-size:.95em;

    ul {
        list-style-type: square;
        list-style-position: outside;
        list-style-image: none; 
    }

}

/* Work page */
#work {
    #parent {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 2160px;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.sectiontitle {
    color: $pink;
    text-align: center;
    align-self: center;
    width:100%;
}

.child {
    margin: 1%;
    margin-top: 10px;
    background-color: #000;
    transition: .5s all ease;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0;
    list-style: none;
    text-align: center;
}

    .grid figure {
        position: relative;
        overflow: hidden;
        height:300px;
        width:400px;
        background: $pink;
        text-align: center;
    }

    .grid figure img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.95;
    }

    .grid figure figcaption {
        padding: 1.5em;
        color: #fff;
        font-size: 1.25em;
        backface-visibility: hidden;
        margin-top:-25px;
    }

    .grid figure figcaption::before,
    .grid figure figcaption::after {
        pointer-events: none;
    }

    .grid figure figcaption,
    .grid figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .grid figure h2 {
        font-weight: 300;
    }

    .grid figure h2,
    .grid figure p {
        margin: 0;
    }

    .grid figure p {
        font-size: 0.6em;
        line-height: 1.3;
    }

    figure.effect-sarah {
        background: $pink;
    }

    figure.effect-sarah img {
        max-width: none;
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(-10px,0,0);
        backface-visibility: hidden;

    }

    figure.effect-sarah:hover img {
        opacity: 0.3;
        transform: translate3d(0,0,0);
    }

    figure.effect-sarah figcaption {
        text-align: left;
        background-color: rgba(10,10,10,0.5);
    }


    figure.effect-sarah:hover figcaption {
        background-color:transparent;
    }


    figure.effect-sarah h2 {
        position: relative;
        overflow: hidden;
        padding: 0.5em 0;
        width:85%;
    }

    figure.effect-sarah h2::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        content: '';
        transition: transform 0.35s;
        transform: translate3d(-100%,0,0);

    }

    figure.effect-sarah:hover h2::after {
        transform: translate3d(0,0,0);
    }

    figure.effect-sarah p {
        padding: 0.5em 0;
        padding-bottom:0;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(100%,0,0);
        max-width: 85%;
    }

    figure.effect-sarah:hover p {
        opacity: 1;
        transform: translate3d(0,0,0);
    }

}

/* Contact page */
#contact {
    min-height: 60vh;
    flex-direction: column;
    background-color: $offwhite;
    display: flex;
    align-items: center;
    color: $pink;

    #form {
        width:100%;
        height:55vh;
    }
}

/* Footer section */
footer {
    min-height: 25vh;
    width: 100%;
    color: $offwhite;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $pink;

    a, a:visited, a:hover {
        text-decoration: none;
        color: $darktext;
    }

    #footcontent {
        padding: 1em;
        width: 80%;
        display: flex;
        font-size: 0.9em;
    }

    p {
        padding: .5em;
    }

}

/*  Media queries */
@media (max-width: 1000px) {
    
    #landing {
        flex-direction: column;
    }

    #landingtext {
        margin: 0 !important;
        padding:10px !important;
    }

    #left {
        transition:0.2s all ease;
        color: $white !important; // figure out how to get rid of important;
        width: 100% !important;
        background-image: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url('../images/Summit-min.jpg');
        background-size: cover;
        background-position: center center;

        h1 {
            padding:0;
            font-size: 3em;
        }

        h4 {
            font-size: 1.25em;
        }
    }

    #landingphoto, #right {
        display: none;
    }

    #text a {
        color:$white;
    }

    #about {
        padding-left:2vw;
    }


}

@media (max-width: 600px) {

    #buttons {
        width:20%;
        margin-left:-400px;
    }

    #landing {
        padding:0;
    }

    #landingtext h1, #landingtext p {
        padding:5px;
    }

    #landingtext h4 {
        margin-top:15vh !important;
    }

    #about {
        padding-left: 1vw;
        padding-right:2vw;
    } 

    footer {
        align-items: flex-start;
        justify-content: flex-start;
        align-content:flex-start;
        margin:0;
        padding:0;
        line-height: 1;
    }

    #footcontent {
        padding:0;
        margin:0;
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
    }
}