@import "tailwindcss";

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
	--vp-c-brand-1: #44b180;
	--vp-c-brand-2: #3a8f6e;
	/* Darker shade for hover */
	--vp-c-brand-3: #2e6e56;
	/* Even darker for active */
	--vp-c-brand-soft: rgba(68, 177, 128, 0.14);
	/* Soft background */

	--vp-c-indigo-1: var(--vp-c-brand-1);
	--vp-c-indigo-2: var(--vp-c-brand-2);
	--vp-c-indigo-3: var(--vp-c-brand-3);
	--vp-c-indigo-soft: var(--vp-c-brand-soft);
}

html,
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	transform-style: preserve-3d;
	box-sizing: border-box;
	overflow-x: hidden;
}

#app {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

/* Hide default Vitepress components */
.VPNav,
.VPFooter {
	display: none !important;
}

/* 
  Reset Vitepress default layout min-heights.
*/
.VPContent,
.VPHome,
.VPPage,
.Layout {
	min-height: auto !important;
	height: auto !important;
}
